*{
padding: 0;
margin: 0;
border: 0;
}
*,*::before,*::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*=======================================================================================================*/

body {
margin: 0;
font-family: Arial, sans-serif;
overflow: hidden; /* Отключаем прокрутку во время заставки */
background-color: rgba(0, 0, 0, 0.9);
}
#intro {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 1000;
transition: opacity 1s ease;
}
.backgroundwrapper {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}
.background {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}
.backgroundwrapperwrap {
display: flex;
justify-content: center;
align-items: center;
width: 1500px;
height: 900px;
}
.backgroundwrapperwrap img {
width: 100%;
opacity: 0;
animation: appearButtonsimg 1s forwards 1s; /* Появление кнопок с задержкой */
}
@keyframes appearButtonsimg {
to {
opacity: 0.3;
}
}
.wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}
.logo {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
width: 400px;
height: 400px;
opacity: 0;
animation: fadeIn 0.5s forwards, moveToCorner 0.5s forwards 0.5s; /* Анимация появления и перемещения */
border-radius: 30px;
border: 5px solid #fff;
}
@keyframes fadeIn {
to {
opacity: 1;
}
}
@keyframes moveToCorner {
0% {
transform: translate(0, 0) scale(1);
}
100% {
transform: translate(-160%, -60%) scale(0.5);
}
}
.textlogo {
display: flex;
justify-content: end;
align-items: center;
flex-direction: column;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
width: 500px;
height: 500px;
font-size: 40px;
opacity: 0;
color: #ffc801;
animation: fadeIntxt 0.5s forwards, moveToCornertxt 0.5s forwards 0.5s; /* Анимация появления и перемещения */
}
@keyframes fadeIntxt {
to {
opacity: 1;
}
}
@keyframes moveToCornertxt {
0% {
transform: translate(0, 0) scale(1);
}
100% {
transform: translate(115%, -95%) scale(0.8);
}
}
.textlogo span {
font-size: 0px;
color: #fff;
animation: fadeIntxtspan 1s forwards 1.5s; 
}
@keyframes fadeIntxtspan {
100% {
font-size: 25px;
}
}
#text {
display: flex;
flex-direction: column;
justify-content: space-between;
position: absolute;
top: 1%;
width: 50%;
gap: 50px;
font-size: 20px;
color: #fff;
opacity: 0;
transition: opacity 1s;
animation: appearText 1s forwards 1s; /* Появление текста с задержкой */
}
@keyframes appearText {
50% {
opacity: 0.5;
}
100% {
opacity: 1;
}
}
.buttonbarwrapper {
display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
gap: 20px;
}
.buttonbarwrapper button {
padding: 10px;
border-radius: 10px;
font-size: 20px;
}
.texttwo {
position: absolute;
bottom: 1%;
left: 50% - 700px;
display: flex;
flex-wrap: wrap;
width: 700px;
height: 600px;
opacity: 0;
transition: opacity 1s;
animation: texttwo 1s forwards 1s; /* Появление текста с задержкой */
/* border: 5px solid rgb(255, 0, 242); */
}

@keyframes texttwo {
50% {
opacity: 0.5;
}
100% {
opacity: 1;
}
}
.texttwoh2 {
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
color: #fff;
font-size: 25px;
    /* border: 2px solid rgb(229, 255, 0); */
}
.texttwoh3 {
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
color: #fff;
font-size: 18px;
    /* border: 2px solid rgb(229, 255, 0); */
}
.texttwocontent {
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
color: #fff;
font-size: 20px;
    /* border: 2px solid rgb(0, 217, 255); */
}
.texttwoleft {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 30%;
    /* border: 2px solid rgb(255, 153, 0); */
}
.texttwowat {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 40%;
    /* border: 2px solid rgb(0, 255, 13); */
}
.texttworight {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 30%;
    /* border: 2px solid rgb(255, 0, 34); */
}
.texttwoleftwrapperimg,
.texttworightwrapperimg {
 width: 100px;
 height: 100px;
 /* border: 2px solid rgb(47, 0, 255); */
}
.texttwowatwrapperimg {
    width: 350px;
 height: 350px;
}
.texttwoleftwrapperimg img,
.texttwowatwrapperimg img,
.texttworightwrapperimg img {
 width: 100%;
}
.button-container {
position: absolute;
bottom: 5%;
width: 90%;
height: 50%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 100px;
opacity: 0;
animation: appearButtons 1s forwards 1.5s; /* Появление кнопок с задержкой */
/* border: 5px solid rgb(0, 217, 255); */
}
@keyframes appearButtons {
to {
opacity: 1;
}
}

.buttonform {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 350px;
height: 350px;
border-radius: 20px;
background: transparent;
cursor: pointer;

}
.buttonform:hover {
    border: 2px solid #ffc801;
    box-shadow: 0 4px 30px #ffc801;
}

.buttonformimgwrapper {
    width: 270px;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid rgb(254, 255, 253);
}
.buttonformimgwrapper img {
    width: 110%;
}
.buttonformcontenth2 {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
font-size: 25px;
}

